@font-face {
  font-family: "stagewise-builtin-geist-mono";
  src: url("GeistMono[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "stagewise-builtin-geist-mono";
  src: url("GeistMono-Italic[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
