@theme default {
  --H: 265;
  --H-green: 152; /* Near triadic color */
  --H-red: 28; /* Near triadic color */
  --H-blue: 220; 
  --H-yellow: 80; /* Complementary color/ Tetradic color */
  --H-pink: 355; /* Tetradic color */
  --H-purple: 300; /* Tetradic color */
  --H-cyan: 175; /* Tetradic color */
  --H-orange: 55; /* Tetradic color */

 /* Primary (accent + UI fill) */
  --color-primary-50: oklch(0.93 0.033 var(--H));
  --color-primary-100: oklch(0.86 0.07 var(--H));
  --color-primary-150: oklch(0.82 0.095 var(--H));
  --color-primary-200: oklch(0.78 0.12 var(--H));
  --color-primary-250: oklch(0.74 0.15 var(--H));
  --color-primary-300: oklch(0.70 0.18 var(--H));
  --color-primary-350: oklch(0.66 0.205 var(--H));
  --color-primary-400: oklch(0.62 0.23 var(--H));
  --color-primary-450: oklch(0.583 0.24 var(--H));
  --color-primary-500: oklch(0.5455 0.25 var(--H)); /* peak chroma */
  --color-primary-550: oklch(0.521 0.235 var(--H));
  --color-primary-600: oklch(0.49 0.22 var(--H));
  --color-primary-650: oklch(0.46 0.20 var(--H));
  --color-primary-700: oklch(0.43 0.18 var(--H));
  --color-primary-750: oklch(0.40 0.16 var(--H));
  --color-primary-800: oklch(0.37 0.14 var(--H));
  --color-primary-850: oklch(0.34 0.125 var(--H));
  --color-primary-900: oklch(0.31 0.11 var(--H));
  --color-primary-950: oklch(0.26 0.082 var(--H));

  /* Neutrals (tinted, low chroma) - more nuance in dark range for elevation */
  --color-base-50:  oklch(0.992 0.006 var(--H));
  --color-base-100: oklch(0.96 0.008 var(--H));
  --color-base-150: oklch(0.92 0.011 var(--H));
  --color-base-200: oklch(0.88 0.014 var(--H)); /* current light mode bg #d3d8e1 */
  --color-base-250: oklch(0.81 0.016 var(--H)); /* #bcc1cc */
  --color-base-300: oklch(0.74 0.018 var(--H));
  --color-base-350: oklch(0.665 0.0205 var(--H));
  --color-base-400: oklch(0.59 0.023 var(--H));
  --color-base-450: oklch(0.525 0.0255 var(--H));
  --color-base-500: oklch(0.46 0.028 var(--H));
  --color-base-550: oklch(0.40 0.0265 var(--H));
  --color-base-600: oklch(0.34 0.025 var(--H));
  --color-base-650: oklch(0.3175 0.0215 var(--H));
  --color-base-700: oklch(0.295 0.018 var(--H));
  --color-base-750: oklch(0.2645 0.0155 var(--H));
  --color-base-800: oklch(0.234 0.013 var(--H));
  --color-base-850: oklch(0.216 0.011 var(--H));
  --color-base-900: oklch(0.198 0.009 var(--H));
  --color-base-950: oklch(0.161 0.005 var(--H));

  /* SUCCESS LIGHT */
  --color-success-background-light: oklch(0.94 0.045 var(--H-green));
  --color-success-foreground-light: oklch(0.60 0.172 var(--H-green));
  --color-success-solid-light:    oklch(from var(--color-success-foreground-light) 0.58 calc(c * 1.415) h);
  /* SUCCESS DARK */
  --color-success-background-dark: oklch(0.32 0.060 var(--H-green));
  --color-success-foreground-dark:  oklch(0.82 0.115 var(--H-green));
  --color-success-solid-dark:    oklch(from var(--color-success-foreground-dark) 0.54 calc(c * 1.32) h);

  /* ERROR LIGHT */
  --color-error-background-light: oklch(0.94 0.050 var(--H-red));
  --color-error-foreground-light: oklch(0.60 0.172 var(--H-red));
  --color-error-solid-light:    oklch(from var(--color-error-foreground-light) 0.58 calc(c * 1.415) h);
  /* ERROR DARK */
  --color-error-background-dark: oklch(0.32 0.070 var(--H-red));;
  --color-error-foreground-dark:  oklch(0.8 0.115 var(--H-red));
  --color-error-solid-dark:    oklch(from var(--color-error-foreground-dark) 0.54 calc(c * 1.32) h);

  /* WARNING LIGHT */
  --color-warning-background-light: oklch(0.955 0.070 var(--H-yellow));
  --color-warning-foreground-light: oklch(0.62 0.169 var(--H-yellow));
  --color-warning-solid-light: oklch(from var(--color-warning-foreground-light) 0.78 calc(c * 1.115) h);
  /* WARNING DARK */
  --color-warning-background-dark: oklch(0.45 0.068 var(--H-yellow));
  --color-warning-foreground-dark:  oklch(0.85 0.112 var(--H-yellow));
  --color-warning-solid-dark: oklch(from var(--color-warning-foreground-dark) 0.54 calc(c * 1.22) h);

  /* INFO LIGHT */
  --color-info-background-light: oklch(0.94 0.040 var(--H-blue));
  --color-info-foreground-light: oklch(0.60 0.172 var(--H-blue));
  --color-info-solid-light:    oklch(from var(--color-info-foreground-light) 0.58 calc(c * 1.415) h);
  /* INFO DARK */
  --color-info-background-dark: oklch(0.32 0.060 var(--H-blue));   
  --color-info-foreground-dark:  oklch(0.82 0.115 var(--H-blue));
  --color-info-solid-dark:    oklch(from var(--color-info-foreground-dark) 0.54 calc(c * 1.32) h);


  /* Code highlighting */ 
  --syntax-L-light: 0.61;
  --syntax-C-light: 0.198;
  --syntax-L-dark: 0.84;
  --syntax-C-dark: 0.108;

  --color-syntax-green-dark: oklch(var(--syntax-L-dark) var(--syntax-C-dark) var(--H-green));
  --color-syntax-green-light: oklch(var(--syntax-L-light) var(--syntax-C-light) var(--H-green));

  --color-syntax-red-dark: oklch(var(--syntax-L-dark) var(--syntax-C-dark) var(--H-red));
  --color-syntax-red-light: oklch(var(--syntax-L-light) var(--syntax-C-light) var(--H-red));

  --color-syntax-blue-dark: oklch(var(--syntax-L-dark) var(--syntax-C-dark) var(--H-blue));
  --color-syntax-blue-light: oklch(var(--syntax-L-light) var(--syntax-C-light) var(--H-blue));

  --color-syntax-yellow-dark: oklch(var(--syntax-L-dark) var(--syntax-C-dark) var(--H-yellow));
  --color-syntax-yellow-light: oklch(var(--syntax-L-light) var(--syntax-C-light) var(--H-yellow));

  --color-syntax-pink-dark: oklch(var(--syntax-L-dark) var(--syntax-C-dark) var(--H-pink));
  --color-syntax-pink-light: oklch(var(--syntax-L-light) var(--syntax-C-light) var(--H-pink));

  --color-syntax-cyan-dark: oklch(var(--syntax-L-dark) var(--syntax-C-dark) var(--H-cyan));
  --color-syntax-cyan-light: oklch(var(--syntax-L-light) var(--syntax-C-light) var(--H-cyan));

  --color-syntax-orange-dark: oklch(var(--syntax-L-dark) var(--syntax-C-dark) var(--H-orange));
  --color-syntax-orange-light: oklch(var(--syntax-L-light) var(--syntax-C-light) var(--H-orange));

  --color-syntax-purple-dark: oklch(var(--syntax-L-dark) var(--syntax-C-dark) var(--H-purple));
  --color-syntax-purple-light: oklch(var(--syntax-L-light) var(--syntax-C-light) var(--H-purple));
}